.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  animation: fadeIn .3s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes basket {
  from {
    transform: translate(420px);
  } to {
    transform: translate(0);
  }
}

.product {
  display: grid;
}

.product .cartTotalBlock {
  align-self: end;
}

.basket {
  position: fixed;
  width: 420px;
  height: 100%;
  top: 0;
  right: 0;
  padding: 30px;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-rows: auto 1fr auto;
  z-index: 3;
  animation: basket .3s ease;

  .items {
    overflow: auto;
  }

  .cartItem {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;

    .cartItemImg {
      width: 70px;
      height: 70px;
      background-size: contain;
      background-position: 0 -3px;
      background-repeat: no-repeat;
      margin-right: 20px;
    }

    p {
      font-size: 16px;
    }

    b {
      font-size: 14px;
    }

    .kross {
      width: 70px;
      height: 70px;
    }

    .removeBtn {
      opacity: .5;
      cursor: pointer;
      transition: opacity 0.15 ease-in-out;
    }
  }
}

.cartTotalBlock {
  ul {
    display: block;
    margin-bottom: 40px !important;
  }

  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  div {
    flex: 1;
    height: 1px;
    border: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 0 7px;
  }
  .greenBtn {
    position: relative;


    &:hover {
      img {
        transform: translateX(8px);
      }
      
    }
    
    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}


.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenBtn {
    width: 245px;
    margin-top: 20px;
  }

  &:hover {
    .nazad {
      transform: rotate(180deg) translateX(3px);
    }
  }

  .nazad {
    position: relative;
    top: 1px;
    transform: rotate(180deg);
    margin-right: 15px;
    transition: transform 0.15s ease-in-out;
  }
}



